.welcome {
    margin: 8.75rem 6.25rem 0;
}

.form-input {
    margin: 0 2.5rem 1.5rem 2.5rem;
    width: 19.5rem;
    height: 4.75rem;
    border-radius: 0.625rem;
    padding-left: 1.625rem;
}

input.form-input {
    border: 1px solid white;
    background-color: var(--secondary-yellow);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.3), inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.25rem;
}
input.form-input:focus{
    outline: none;
    border-color:var(--primary-green)
}

.login-btn {  
    padding: 2px;
    width: 19.5rem;
    height: 4.75rem;
    border-radius: 2.5rem;
}

.login-btn>a {
    width: 100%;
    height: 100%;  
    border-radius: 2.5rem;
    background: var(--primary-green);   
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    text-decoration-line: none;
}
